* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

#p5 {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.clear {
	height: 50vh;
	width: 100vw;
	background: transparent;
}

.about {
	position: relative;
	width: calc(100vw - 20px);
	background: white;
	display: inline-block;
	padding: 10px;
	padding-bottom: 30px;
	text-align: center;
}
.about > .about-content {
	position: relative;
}

.about > .about-content > #profile {
	position: relative;
	top: -250px;
	display: inline-block;
	width: calc(100vw - 40px);
	max-width: 500px;
	margin-bottom: -250px;
	border: 10px solid white;
	border-radius: 1000px;
}
.about > .about-content > .about-text {
	position: relative;
	display: inline-block;
	width: calc(100vw - 20px);
	max-width: 900px;
	font-size: 25px;
	overflow: scroll;
}

.divider {
	position: relative;
	width: 100vw;
	height: 20px;
	background: white;
}

.projects {
	position: relative;
	width: 100vw;
	/* background: rgb(78, 214, 156); */
	background: #222;
	height: calc(100vh - 20px);
	text-align: center;
	padding-top: 30px;
	color: white;
}

.projects > h1 {
	font-size: 40px;
	margin-bottom: 10px;
}

.project {
	padding: 30px 10px;
	background: #222;
}

.project > h2 {
	text-decoration: underline;
	font-size: 30px;
	margin-bottom: 10px;
}

.project > .slide {
	width: calc(100vw - 20px);
	max-width: 1000px;
	display: inline-block;
}

.project img {
	border-radius: 10px;
}

.project > .projectinfo {
	font-size: 25px;
	max-width: 900px;
	display: inline-block;
}

.footer {
	background: white;
	height: 200px;
}
.footer > .footer-content {
	width: calc(100vw - 20px);
	max-width: 1000px;
	height: 100%;
	display: inline-block;
}

.footer > .footer-content > a > img,
.footer > .footer-content > img {
	position: relative;
	height: 100px;
	width: 25vw;
	max-width: 300px;
	top: 50px;
}
