* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}

#p5 {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.clear {
	height: 60vh;
	width: 100vw;
	background: transparent;
}

.about {
	position: relative;
	width: 100vw;
	background: white;
	height: 100vh;
}
.about > .about-content {
	position: relative;
	top: -250px;
	text-align: center;
}

.about > .about-content > #profile {
	position: relative;
	width: calc(100vw - 20px);
	max-width: 500px;
	margin: 10px 0;
	border: 10px solid white;
	border-radius: 1000px;
}
.about > .about-content > .about-text {
	position: relative;
	display: inline-block;
	width: 100vw;
	max-width: 900px;
	font-size: 25px;
	overflow: scroll;
}

.divider {
	position: relative;
	width: 100vw;
	height: 20px;
	background: #222;
}

.projects {
	position: relative;
	width: 100vw;
	background: rgb(78, 214, 156);
	height: calc(100vh - 20px);
	text-align: center;
}

.projects > h1 {
	font-size: 40px;
	margin-bottom: 10px;
}

.project {
	padding: 30px 0;
	background: rgb(78, 214, 156);
}

.project > h2 {
	text-decoration: underline;
	font-size: 30px;
}

.project > .slide {
	margin: 10px;
	width: calc(100vw - 20px);
	max-width: 1000px;
	display: inline-block;
}

.project > .projectinfo {
	font-size: 25px;
	max-width: 900px;
	display: inline-block;
}

.footer {
	background: white;
	height: 200px;
	display: flex;
	align-content: space-between;
}

.footer > a > img,
.footer > img {
	position: relative;
	height: 100px;
	width: 33vw;
	top: 50px;
}
